@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css";
body{
  /* background-color: #e9ebee; */
}
.logo{
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 35px;
  width:50%;
  /* margin-left: 20px; */
  padding-left: 20px;
}
/* .right_side{
  width:50%;
  font-family: 'Acme', sans-serif;
} */

.dropdown{
  padding: 10px 15px;
}
span{
  padding-right: 10px;
}
.top_link{
  padding-top: 15px;
}
.top_link a{
  text-decoration: none;
}
.nav{
  background-color: lightblue;
}
.navhead{
  margin: 20px auto;
}
.navhead a:hover, a:focus {
  color: #2a6496;
  text-decoration: none;
}
.post_area{
  /* border: 1px solid black; */
}
.post{
  border: 1px solid black;
  box-shadow: 1px 1px 3px 3px #e0e0d1;
}
.post img{
  width: 535px;
}
.like_btn{
    margin: 10px 10px;
}
.like_btn span{
  padding: 10px;
  margin-right: 20px;
}

#all_posts .row{
  margin-top: 15px;
  margin-bottom: 15px;
}

#user{
font-size: 25px;
margin-left:15px;
font-family: 'Arvo', serif;
}

/* #my_div:active{
    border-bottom:4px solid grey;
} */


.opt a{
  /* display : block; */
  text-align: center;
  /* border-bottom: 3px solid transparent; */
}
/* .link a:hover{
  border-bottom:4px solid grey;
} */
.line{
  width: 120px;
  height:3px;
  margin-left: 15px;
  margin-top: 3px;
  background-color: grey;
}





	body {
		background: #fff;
		font-family: 'Varela Round', sans-serif;
	}
    .form-inline {
        display: inline-block;
    }
	.navbar {
		color: #fff;
		background: #f44336;
		padding: 5px 16px;
		border-radius: 0;
		border: none;
		box-shadow: 0 0 4px rgba(0,0,0,.1);
	}
	.navbar img {
		border-radius: 50%;
		width: 36px;
		height: 36px;
		margin-right: 10px;
	}
	.navbar .navbar-brand {
		color: #efe5ff;
		padding-left: 0;
		padding-right: 50px;
		font-size: 24px;
	}
	.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
		color: #fff;
	}
	.navbar .navbar-brand i {
		font-size: 25px;
		margin-right: 5px;
	}
	.search-box {
        position: relative;
    }
    .search-box input {
        padding-right: 35px;
		min-height: 38px;
		border: none;
		background: #faf7fd;
        border-radius: 3px !important;
    }
	.search-box input:focus {
		background: #fff;
		box-shadow: none;
	}
	.search-box .input-group-addon {
        min-width: 35px;
        border: none;
        background: transparent;
        position: absolute;
        right: 0;
        z-index: 9;
        padding: 10px 7px;
		height: 100%;
    }
    .search-box i {
        color: #a0a5b1;
		font-size: 19px;
    }
	.navbar ul li i {
		font-size: 18px;
	}
	.navbar .nav-item span {
		position: relative;
		top: 3px;
	}
	.navbar .nav > li a {
		color: #efe5ff;
		padding: 8px 15px;
		font-size: 14px;
	}
	.navbar .nav > li a:hover, .navbar .nav > li a:focus {
		color: #fff;
		text-shadow: 0 0 4px rgba(255,255,255,0.3);
	}
	.navbar .nav > li > a > i {
		display: block;
		text-align: center;
	}
	.navbar .dropdown-menu i {
		font-size: 16px;
		min-width: 22px;
	}
    .navbar .dropdown-menu .material-icons {
        font-size: 21px;
        line-height: 16px;
        vertical-align: middle;
        margin-top: -2px;
    }
	.navbar .dropdown.open > a, .navbar .dropdown.open > a:hover, .navbar .dropdown.open > a:focus {
		color: #fff;
		background: none !important;
	}
	.navbar .dropdown-menu {
		border-radius: 1px;
		border-color: #e5e5e5;
		box-shadow: 0 2px 8px rgba(0,0,0,.05);
	}
	.navbar .dropdown-menu li a {
		color: #777 !important;
		padding: 8px 20px;
		line-height: normal;
	}
	.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus {
		color: #333 !important;
		background: transparent !important;
	}
	.navbar .nav .active a, .navbar .nav .active a:hover, .navbar .nav .active a:focus {
		color: #fff;
		text-shadow: 0 0 4px rgba(255,255,255,0.2);
		background: transparent !important;
	}
	.navbar .nav .user-action {
		padding: 9px 15px;
	}
	.navbar .navbar-toggle {
		border-color: #fff;
	}
	.navbar .navbar-toggle .icon-bar {
		background: #fff;
	}
	.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
		background: transparent;
	}
	.navbar .navbar-nav .open .dropdown-menu {
		background: #faf7fd;
		border-radius: 1px;
		border-color: #faf7fd;
		box-shadow: 0 2px 8px rgba(0,0,0,.05);
	}
	.navbar .divider {
		background-color: #e9ecef !important;
	}
	@media (min-width: 1200px){
		.form-inline .input-group {
			width: 350px;
			margin-left: 30px;
		}
	}
	@media (max-width: 1199px){
		.navbar .nav > li > a > i {
			display: inline-block;
			text-align: left;
			min-width: 30px;
			position: relative;
			top: 4px;
		}
		.navbar .navbar-collapse {
			border: none;
			box-shadow: none;
			padding: 0;
		}
		.navbar .navbar-form {
			border: none;
			display: block;
			margin: 10px 0;
			padding: 0;
		}
		.navbar .navbar-nav {
			margin: 8px 0;
		}
		.navbar .navbar-toggle {
			margin-right: 0;
		}
		.input-group {
			width: 100%;
		}
	}


a {
    color: #ff0000;
    text-decoration: none;
}
