<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<head>
    <style>
        body {
            overflow-x: hidden !important;
        }

        .sidenav {
            height: 100%;
            width: 100%;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #add8e6;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
        }

        .navhead a {
            color: #000;
        }

        .sidenav a:hover {
            color: #111;
        }

        .main {
            margin-left: 160px;
            padding: 0px 10px;
        }

        .nav {
            background-color: style="color:blue";
        }

        .navhead {
            margin: 20px auto;
        }

        .navhead a:hover,
        a:focus {
            color: #000;
            text-decoration: none;
        }

        .btn-outline-light {
            color: #214569;
            border-color: #10253a;
        }

        .no-padding {
            padding: 0;
        }
    </style>
    <meta charset="utf-8">
    <title>SocialPoc </title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#E9E9E9;">
    <section id="navbar">
        <div class="container-fluid">
            <div class="row nav">
                <div class="col-sm-2 logo">
                    SocialApp
                </div>
                <div class="col-sm-6">
                </div>

                <div class="col-sm-1 top_link">
                    <a href="/landingPage">Home</a>
                </div>
                            <div class="col-sm-1 top_link">
                                <a href="/usernotification">Notifications</a>
                            </div>
                <div class="col-sm-2">
                    <div class="dropdown">
                        <div class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                            <span><i class="fas fa-user-alt"></i></span><span id="login_user_name">{{username}}</span>
                        </div>
                        <div class="dropdown-menu ">
                            <a class="dropdown-item downlist" href="/logout"><span><i class="fa fa-sign-out-alt"
                                        aria-hidden="true"></span></i>
                                Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container-fluid">
        <div class="row navhead">
            <div class="col-sm-1">
                <a href="/profilepic">Profile Pic</a><br>

                {% for i in profilepic %}
                <img src="../..{{i.profile_pic}}" style="border-radius: 50%;width:100px;" alt="Avatar">
                {% endfor %}
            </div>
            <div class="col-sm-1 text-center">
                <a href="/home">Home</a>

            </div>
            <div class="col-sm-2 text-center">
                <a href="/friendposts">Friends Posts</a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="/app/mypost">My Posts</a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="/app/addpost">Add Post</a>
            </div>
            <div class="col-sm-2 text-center">
                <a href="/app/findfriend">Find</a>
            </div>
            <form class="col-sm-4" method="POST" action="/search">{% csrf_token %}
                <!--          <label for="search">Search</label>-->
                <input type="text" id="search" name="search" value="">
                <button type="submit" class="btn btn-outline-light" style="
    color: #214569;
    border-color: #10253a;">
                    Search
                </button>
            </form>
        </div>
    </div>
    <!--  <br>-->
    <div class="container-fluid">
        <div class="row">


            <div class="col-sm-2 no-padding">

                <div class="sidenav">
                    <a href="ViewFriends/{{username}}">Friends</a>
<!--                    <a href="/create">Create</a>-->
                    <a href="inbox/">Messages</a>
<!--                    <a href="">Settings</a>-->
                </div>
            </div>
            <!--    <div>-->

            <div class="col-md-6 col-sm-6">
<!--                {% for i in request1 %}-->
<!--                {% if i.status == "1" %}-->
                <div>
<!--                    Notifications - {{request2}}-->
                </div>
<!--                {{i.notification}} from {{i.username}}-->
<!--                {{request2}}-->
<!--                {% if i.notification == "request send" %}-->

            <div class="col-md-6 col-sm-6">
<!--                <form class="col-sm-5" method="POST" action="{% url 'accept'%}"> {% csrf_token %}-->
<!--                    <input type="hidden" name="acceptusername" value="{{i.username}}">-->
<!--                    <input type="hidden" id="followstatus" name="followstatus" value="2">-->
<!--                    <button type="submit" class="btn btn-outline-light" style="-->
<!--    color: #214569;-->
<!--    border-color: #10253a;">-->
<!--                        Confirm-->
<!--                    </button>-->
<!--                </form>-->

<!--                <form class="col-sm-5" method="POST" action="{% url 'decline'%}"> {% csrf_token %}-->
<!--                    <input type="hidden" name="declineusername" value="{{i.username}}">-->
<!--                    <input type="hidden" name="followstatus" value="3">-->
<!--                    <button type="submit" class="btn btn-outline-light" style="-->
<!--    color: #214569;-->
<!--    border-color: #10253a;">-->
<!--                        Delete-->
<!--                    </button>-->
<!--                </form>-->
            </div>

<!--            {% else %}-->
            </div>


            <div></div>
<!--            {% endif %}-->
<!--            {% endif %}-->
<!--            {% endfor %}-->

            <div class="col-sm-12">
                <section id="all_posts">




                    {% block search %}
                    {% endblock %}



                    {% for p in posts %}
                    <div class=" post_area">


                        <div class="col-sm-12 post">
                            <div style="margin:10px auto;">
                                <i class="fas fa-user-circle" style="font-size: 35px;"></i><span
                                    id="user">{{p.username}}</span>
                                <span style="margin-left:280px; font-size:14px;">{{p.time}}</span>
                            </div>
                            <div>
                                <p>{{p.post_text}}
                                </p>
                                <img src="../../media/{{p.post_img}}" alt="" class="responsive">
                            </div>
                            <div class="like_btn">
                                <!--               -->
                                <span style="margin-right:0px;" id="impr{{p.post_id}}">{{p.count}}</span>
                                <span><i class="far fa-thumbs-up" id="icon{{p.post_id}}" style="color:black;"></i>
                                    {% if p.status ==  True %}
                                    <a href="/Unlikeposts/{{p.post_id}}/{{username}}">UnLike</a></span>
                                    {% else %}
                                    <a style="color:black;" href="/likepost/{{p.post_id}}/{{username}}">Like</a></span>
                                    {% endif %}
                                <!--                                    <button class='btn l_btn' id="{{p.post_id}}"> Like</button></span>-->
                                <span style="margin-right:10px;">{{p.count_comment}}</span><span><i class="far fa-comment"></i> <a href="/app/insertcomment/{{p.post_id}}">
                                        Comment</a></span>
                                <span><i class="fa fa-users"></i> <a href="/app/viewCluster/{{p.post_id}}">
                                        Cluster</a></span>
                            </div>
                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>
                    {% endfor %}
                </section>
            </div>
        </div>
<div class="col-sm-3 no-padding">
<div class="container">
<!--  <h2>{{username}}</h2>-->
<!--  <p>To make the tabs toggleable, add the data-toggle="pill" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p>-->
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">Friend Request({{request2}})</a></li>
    <li><a data-toggle="pill" href="#menu1">Send Request({{request3}})</a></li>
<!--    <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>-->
<!--    <li><a data-toggle="pill" href="#menu3">Menu 3</a></li>-->
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
<!--      <h3></h3>-->
        <br/>

                      {% for i in request1 %}
                {% if i.status == "1" %}
<!--                Notifications - {{request2}} -->
<!--                        {{i.notification}} from -->

<!--                        {{request2}}-->
                {% if i.notification == "request send" %}

            <div class ="row "style=" padding: 14px 28px;
  font-size: 16px;">

                <div class ="mr-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="../..{{i.profile_pic}}" style="border-radius: 50%;width:50px;" alt="Avatar">
                    {{i.username}}
                </div>
                <form  method="POST" action="{% url 'accept'%}"> {% csrf_token %}
                    <input type="hidden" name="acceptusername" value="{{i.username}}">
                    <input type="hidden" id="followstatus" name="followstatus" value="2">
                    &nbsp;&nbsp;<button style="position: absolute;right: 60px;border: 1px solid black;"type="submit" class="btn btn-sm btn-success mr-1" >
                        Confirm
                    </button>
                </form>

                <form  method="POST" action="{% url 'decline'%}"> {% csrf_token %}
                    <input type="hidden" name="declineusername" value="{{i.username}}">
                    <input type="hidden" name="followstatus" value="3">
                    &nbsp;&nbsp;<button type="submit" class="btn btn-sm btn-danger" >
                        Delete
                    </button>
                </form>
            </div>

            {% else %}
            </div>


            <div></div>
            {% endif %}
            {% endif %}
            {% endfor %}


<!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
    </div>
    <div id="menu1" class="tab-pane fade">
        <br/>

                      {% for ii in send_request %}
                {% if ii.status == "1" %}
<!--                Notifications - {{request2}} -->
<!--                        {{i.notification}} from -->

<!--                        {{request2}}-->
                {% if ii.notification == "request send" %}

            <div class ="row " style=" padding: 14px 28px;
  font-size: 16px;">

                <div class ="mr-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="../..{{ii.profile_pic}}" style="border-radius: 50%;width:45px;" alt="Avatar">
                    {{ii.followingusername}}
                </div>


                <form  method="POST" action="{% url 'deleted_friend'%}"> {% csrf_token %}
                    <input type="hidden" name="declineusername" value="{{ii.followingusername}}">
                    <input type="hidden" name="followstatus" value="3">
                    &nbsp;&nbsp;<button style="position: absolute;right: 60px;border: 1px solid black;" type="submit" class="btn btn-sm btn-danger" >
                        Delete
                    </button>
                </form>
                <br/>
            </div>

            {% else %}
            </div>


            <div></div>
            {% endif %}
            {% endif %}
            {% endfor %}
<!--      <h3>Menu 1</h3>-->
<!--      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
    </div>
<!--    <div id="menu2" class="tab-pane fade">-->
<!--      <h3>Menu 2</h3>-->
<!--      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>-->
<!--    </div>-->
<!--    <div id="menu3" class="tab-pane fade">-->
<!--      <h3>Menu 3</h3>-->
<!--      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>-->
<!--    </div>-->
  </div>
</div>


<!--        <div class="col-lg-6">-->
<!--            {% for i in friend %}-->
<!--            {% if i.username == username %}-->
<!--            {{i.followingusername}},-->

<!--            {% else %}-->
<!--            {{i.username}},-->

<!--            {% endif %}-->
<!--            {% endfor %}-->
<!--        </div>-->

    </div>


    </div>



    {% csrf_token %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".l_btn").click(function () {
                console.log("Button clicked");
                p_id = $(this).attr('id')
                console.log(p_id);
                // console.log($(".shu").attr('id'));
                p_l_username = $("#login_user_name").text();
                console.log(p_l_username);

                if ($('#icon' + p_id).css('color') == 'rgb(0, 0, 0)') {
                    $.ajax(
                        {
                            type: "GET",
                            url: "/likepost",
                            data: {
                                post_id: p_id,
                                post_like_name: p_l_username
                            },
                            success: function (data) {
                                alert(data);
                                console.log(data);
                                console.log("Successfully liked");
                                console.log($('#icon' + data).css('color'));
                                // $('#icon'+data).css({'color':'blue'});
                                // console.log($('#icon'+data).css('color'));
                                // $('#impr')
                                if ($('#icon' + data).css('color') == 'rgb(0, 0, 0)') {
                                    var el = parseInt($('#impr' + data).text());
                                    $('#impr' + data).text(el + 1);
                                    $('#icon' + data).css({ 'color': 'blue' });
                                    console.log($('#icon' + data).css('color'));
                                }


                            }
                        });
                }

                // $.ajax({
                //   type: "POST",
                //   url: "/like",
                // headers: {
                //   'Csrf-Token': '@play.filters.csrf.CSRF.getToken.map(_.value)'
                // },
                // data : {
                //   'post_id': p_id,
                //    'like_username':  p_l_username,
                //    'csrfmiddlewaretoken': '{{ csrf_token }}',
                // }
                // data: "{post_id : " + p_id + "," + "like_username : " + p_l_username +"}",
                //
                //
                // success: function(result){
                //   console.log(result);
                //   // alert(result.d);
                //   console.log("successfully like the post");
                //   }
                // });
            });
        });

       //CSRF code
//        function getCookie(name) {
//     var cookieValue = null;
//     if (document.cookie && document.cookie !== '') {
//         var cookies = document.cookie.split(';');
//         for (var i = 0; i < cookies.length; i++) {
//             var cookie = cookies[i].trim();
//             // Does this cookie string begin with the name we want?
//             if (cookie.substring(0, name.length + 1) === (name + '=')) {
//                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
//                 break;
//             }
//         }
//     }
//     return cookieValue;
// }
// var csrftoken = getCookie('csrftoken');
//
// function csrfSafeMethod(method) {
//     // these HTTP methods do not require CSRF protection
//     return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
// }
// $.ajaxSetup({
//     beforeSend: function(xhr, settings) {
//         if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
//             xhr.setRequestHeader("X-CSRFToken", csrftoken);
//         }
//     }
// });
       // var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();





    </script>
</body>

</html>