<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <style>
        body{
       overflow-x: hidden!important;
    }

    .sidenav {
			height:100%;
			width:100%;
			z-index:1;
			top:0;
			left:0;
			background-color:#add8e6;
			overflow-x: :hidden;
			padding-top:20px;
		}

		.sidenav a {
			padding:6px 8px 6px 16px;
			text-decoration: none;
			font-size:25px;
			color: #818181;
			display:block;
		}
		.navhead a{
		color: #000!important;
		}

		.sidenav a:hover{
			color:#f1f1f1;
		}

		.main{
			margin-left:160px;
			padding: 0px 10px;
		}

      .nav{
  background-color: style="color:blue";
}
.navhead{
  margin: 20px auto;
}
.navhead a:hover, a:focus {
  color: #000;
  text-decoration: none;
}
.btn-outline-light {
    color: #214569;
    border-color: #10253a;
}
.no-padding{
    padding: 0!important;
}
